APScheduler==3.10.4
bilibili-api-python==16.1.1
edge-tts==6.1.6
pynput==1.7.6
duckduckgo_search==4.1.1
pyvirtualcam==0.11.0
opencv-python==4.8.1.78
numpy==1.26.3
Pillow==10.0.1
simplejson==3.19.2
websocket-client==1.7.0
Flask==3.0.0
Flask-APScheduler==1.13.1
obs-websocket-py==1.0
PySocks==1.7.1
requests==2.31.0