APScheduler==3.10.4
bilibili-api-python==16.1.1
edge-tts
pynput
duckduckgo_search
pyvirtualcam
opencv-python
numpy
Pillow
simplejson
websocket-client==1.7.0
Flask==3.0.0
Flask-APScheduler==1.13.1
peft
obs-websocket-py==1.0